.vscode/
.DS_Store
__pycache__/
*.pyc
*.pyo
*-checkpoint.ipynb
.venv
.pytest_cache/
*.egg*
SAM_2.egg-info/
build/*
_C.*
outputs/*
checkpoints/*.pt
demo/backend/checkpoints/*.pt
BiRefNet/*.safetensors
BiRefNet/*.bin
BiRefNet/*.pt
BiRefNet/*.pth
BiRefNet/.msc
BiRefNet/.mv
notebooks/videos/test/
xqk_test.py
